.burger-btn:hover {
    border: none;
}

.burger-to-X {
    .dropdown-menu.show{
      padding: 0 16px 16px 16px;
      text-align: center;
      width: 100%;
      border: none;
      top: auto;
      display: flex;
      flex-direction: column;
    }
    a {
      color: $darkest-green;
      opacity: 0.6;
        &:hover {
          opacity: 1;
          color: $green-blue1;
          text-decoration: none;
        }
    }
}


