.nav-icon {
  margin: 0;
  width: 32px;
  height: 32px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon .burger-menu {
  background-color: $green-blue1;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 10px 0;
  transition: all .2s ease-in-out;
}

.show .nav-icon:before {
  transform: translateY(12px) rotate(135deg);
}

.show .nav-icon:after {
  transform: translateY(-12px) rotate(-135deg);
}

.show .nav-icon div {
  transform: scale(0);
}

.burger-to-X {
    .list-group-item:first-child {
      border: none;
    }
    .list-group-item {
      padding: 0;
    }
    button:focus {
      outline: none;
    }
    .btn-group, .btn-group-vertical {
      vertical-align: baseline;
      display: contents;
    }
    .dropdown-item {
      padding: 16px;
    }
    .dropdown-menu.show{
      padding: 16px;
      text-align: center;
      width: 100%;
      border: none;
      top: auto;

    }
    a {
    //   padding-bottom: 20px;
      color: $darkest-green;
      opacity: 0.6;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }

    }
}


