// Define variables for your color scheme

// Colors:
$red: #890620;
$dark-red: #2C0703;
$pink: #A34861;
$softest-pink: #FFFCFC;
$soft-pink: #DA9F93;
$lighter-pink: #da6384;
$blue: #353693;
$yellow: #FEF208;
$orange: #E67E22;
$green: #1EDD88;
$green-blue1: #025F5A;
$green-blue2: #265451;
$dark-green: #4C604C;
$darkest-green: #323B2F;
$gray: #545E75;
$light-gray: #EBD4CB;
$black: #171A21;

/* RGB */

